{
  "parser": "babel",
  "printWidth": 100,
  "trailingComma": "all",
  "singleQuote": false,
  "overrides": [
    {
      "files": ".html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
